<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.envp.dk" version="1.0" versionCode="1">

	<name>Envp</name>
	<description>Envyp</description>
	<author>Patrick Santos</author>
	<gap:platforms>
		<!-- <gap:platform name="android" /> -->
		<gap:platform name="ios" />
	</gap:platforms>
	
	<icon src="img/envp-icon.png" />
	<icon src="img/envp-icon.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="img/envp-icon.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="img/envp-icon.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="img/envp-icon.png" gap:platform="android" gap:qualifier="xhdpi" />
	
	<preference name="phonegap-version" value="cli-6.4.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<preference name="android-windowSoftInputMode" value="stateVisible" />
	<access origin="*" subdomains="true" />
	<access uri="*" subdomains="true" />
	
	<access origin="*" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://www.facebook.com/*" />
    <allow-navigation href="http://envp.dk/*" />
    <allow-navigation href="http://connect.facebook.net/en_US/*" />

	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>

	<plugin name="com.telerik.plugins.nativepagetransitions" spec="0.6.5" />
	<plugin name="cordova-plugin-admobpro" spec="2.24.0" />
	<plugin name="cordova-plugin-file" spec="4.3.0" />
	<plugin name="cordova-plugin-file-transfer" spec="1.6.0" />
	<plugin name="cordova-plugin-inappbrowser" spec="1.5.0" />
	<plugin name="cordova-plugin-media" spec="2.4.0" />
	<plugin name="cordova-plugin-whitelist" spec="1.3.0" />
	
	<!-- <plugin name="org.apache.cordova.camera" spec="0.3.6" /> -->
	<plugin name="cordova-plugin-camera"  source="npm"/>

	<!-- <plugin name="org.apache.cordova.geolocation" spec="0.3.12" /> -->
	<plugin name="cordova-plugin-geolocation" source="npm" />

	<!-- <plugin name="org.apache.cordova.media-capture" spec="0.3.6" /> -->
	<plugin name="cordova-plugin-media-capture" source="npm" />

	<!-- <plugin name="org.apache.cordova.network-information" spec="1.3.0" /> -->
	<plugin name="cordova-plugin-network-information" source="npm" />

	<!-- <gap:plugin name="cordova-plugin-crosswalk-webview-pgb-adapt" source="npm" version="1.4.0-dev-11"/> -->

	<gap:plugin name="onesignal-cordova-plugin" spec="^2.0.10" source="npm" />

	<preference name="android-build-tool" value="gradle" />
	<preference name="android-minSdkVersion" value="15" />

	<preference name="windows-appx-target" value="8.1-phone" />
	<preference name="WindowsToastCapable" value="true" />
	
	<gap:config-file platform="android" parent="/manifest/application">
        android:windowSoftInputMode="stateVisible"
	</gap:config-file> 

	<gap:plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.4">
	    <gap:param name="APP_ID" value="1697861963864459" />
	    <gap:param name="APP_NAME" value="Envp" />
	</gap:plugin>

	<plugin name="cordova-instagram-plugin" source="npm" />

	<!-- <gap:plugin name="pushbots-cordova-plugin" source="npm" /> -->
	<!-- <plugin name="pushbots-cordova-plugin" spec="1.4.1" />	 -->
	<!-- <gap:plugin name="pushbots-cordova-plugin" spec="^1.4.0" source="npm" /> -->

</widget>